@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to left top, #2e3c3b, #746f7b);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 40px;
    text-align: center;
}

.key,.instruct {
    border: 1px solid #535151;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    padding: 20px 20px;
    margin: 10px;
    min-width: 150px;
    position: relative;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: animate 5s infinite alternate-reverse ease;
    transition: animation 0.2s ease;
}

.key small {
    position: absolute;
    top: -25px;
    color: #e7edec;
}
.instruct {
    margin-top: 2rem;
}

@keyframes animate{
    0% {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: linear-gradient(to left top, #2e3c3b, #59575c);
    }
    50% {

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    75% {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}

@media screen and (max-width: 600px){
    .key {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 440px) {
    .instruct {
        line-height: 2rem;
    }
}